<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/menu.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<body>
  <h1>My shop page</h1>
</body>
<%- include('includes/footer') %>
