html,
body {
  height: 100%;
}

#main_container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: #661b62;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

.nav-item a {
  color: #d3c08d;
}

.nav-item a .disabled {
  color: #898071;
}

.active-link {
  color: red; /* You can customize the styles for the active state */
  font-weight: bold;
}

.group_name {
  position: relative;
  z-index: 10000;
  top: 1%;
  color: #d3c08d;
  font-size: xx-large;
  font-family: monospace;
}
.new_dish_txt {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 30px;
  /* display: flex;
  flex-direction: row; */
}
